body {
    margin: 0;
}

header.main-header {
    background-color: blue;
    position: relative;
}

header.main-header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -60px;
    border-bottom: 60px solid transparent;
    border-left: 800px solid blue;
    width: 0;
    height: 0; 
}

header.main-header::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -60px;
    border-bottom: 60px solid transparent;
    border-right: 800px solid blue;
    width: 0;
    height: 0; 
}

header.main-header nav.main-nav {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}

header.main-header nav.main-nav ul.nav-inner {
    width: 50%;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    float: left;
}

header.main-header nav.main-nav ul.nav-inner li {
    display: inline-block;
}

header.main-header nav.main-nav ul.nav-inner a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

header.main-header nav.main-nav ul.inner-right {
    text-align: right;
}

div.clear {
    clear: both;
}

section h1 {
    text-align: center;
    font-size: 50px;
}